SOA Projets/SOASolution/ConsoleApp1/Connected Services/WheatherService/weather.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetWeather">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sLocation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sLat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sLong" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWeatherResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWeatherResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentWeatherConditions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sLocation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sLat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sLong" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentWeatherConditionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrentWeatherConditionsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentWeatherConditionsImageTemp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sLocation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sLat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sLong" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentWeatherConditionsImageTempResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrentWeatherConditionsImageTempResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTides">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_location" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTidesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTidesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMarineWeather">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_location" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMarineWeatherResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMarineWeatherResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLures">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BodyOfWater" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PredictTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Weather" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WaterTemp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WaterColor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLuresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLuresResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSST">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_location" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSSTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSSTResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSSTCharts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_location" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSSTChartsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSSTChartsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMoonPhase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="month" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="day" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMoonPhaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMoonPhaseResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGamePrediction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sLocation" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGamePredictionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGamePredictionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetWeatherSoapIn">
    <wsdl:part name="parameters" element="tns:GetWeather" />
  </wsdl:message>
  <wsdl:message name="GetWeatherSoapOut">
    <wsdl:part name="parameters" element="tns:GetWeatherResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrentWeatherConditionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentWeatherConditions" />
  </wsdl:message>
  <wsdl:message name="GetCurrentWeatherConditionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentWeatherConditionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrentWeatherConditionsImageTempSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentWeatherConditionsImageTemp" />
  </wsdl:message>
  <wsdl:message name="GetCurrentWeatherConditionsImageTempSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentWeatherConditionsImageTempResponse" />
  </wsdl:message>
  <wsdl:message name="GetTidesSoapIn">
    <wsdl:part name="parameters" element="tns:GetTides" />
  </wsdl:message>
  <wsdl:message name="GetTidesSoapOut">
    <wsdl:part name="parameters" element="tns:GetTidesResponse" />
  </wsdl:message>
  <wsdl:message name="GetMarineWeatherSoapIn">
    <wsdl:part name="parameters" element="tns:GetMarineWeather" />
  </wsdl:message>
  <wsdl:message name="GetMarineWeatherSoapOut">
    <wsdl:part name="parameters" element="tns:GetMarineWeatherResponse" />
  </wsdl:message>
  <wsdl:message name="GetLuresSoapIn">
    <wsdl:part name="parameters" element="tns:GetLures" />
  </wsdl:message>
  <wsdl:message name="GetLuresSoapOut">
    <wsdl:part name="parameters" element="tns:GetLuresResponse" />
  </wsdl:message>
  <wsdl:message name="GetSSTSoapIn">
    <wsdl:part name="parameters" element="tns:GetSST" />
  </wsdl:message>
  <wsdl:message name="GetSSTSoapOut">
    <wsdl:part name="parameters" element="tns:GetSSTResponse" />
  </wsdl:message>
  <wsdl:message name="GetSSTChartsSoapIn">
    <wsdl:part name="parameters" element="tns:GetSSTCharts" />
  </wsdl:message>
  <wsdl:message name="GetSSTChartsSoapOut">
    <wsdl:part name="parameters" element="tns:GetSSTChartsResponse" />
  </wsdl:message>
  <wsdl:message name="GetMoonPhaseSoapIn">
    <wsdl:part name="parameters" element="tns:GetMoonPhase" />
  </wsdl:message>
  <wsdl:message name="GetMoonPhaseSoapOut">
    <wsdl:part name="parameters" element="tns:GetMoonPhaseResponse" />
  </wsdl:message>
  <wsdl:message name="GetGamePredictionSoapIn">
    <wsdl:part name="parameters" element="tns:GetGamePrediction" />
  </wsdl:message>
  <wsdl:message name="GetGamePredictionSoapOut">
    <wsdl:part name="parameters" element="tns:GetGamePredictionResponse" />
  </wsdl:message>
  <wsdl:portType name="WeatherSoap">
    <wsdl:operation name="GetWeather">
      <wsdl:input message="tns:GetWeatherSoapIn" />
      <wsdl:output message="tns:GetWeatherSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentWeatherConditions">
      <wsdl:input message="tns:GetCurrentWeatherConditionsSoapIn" />
      <wsdl:output message="tns:GetCurrentWeatherConditionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentWeatherConditionsImageTemp">
      <wsdl:input message="tns:GetCurrentWeatherConditionsImageTempSoapIn" />
      <wsdl:output message="tns:GetCurrentWeatherConditionsImageTempSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTides">
      <wsdl:input message="tns:GetTidesSoapIn" />
      <wsdl:output message="tns:GetTidesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMarineWeather">
      <wsdl:input message="tns:GetMarineWeatherSoapIn" />
      <wsdl:output message="tns:GetMarineWeatherSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLures">
      <wsdl:input message="tns:GetLuresSoapIn" />
      <wsdl:output message="tns:GetLuresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSST">
      <wsdl:input message="tns:GetSSTSoapIn" />
      <wsdl:output message="tns:GetSSTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSSTCharts">
      <wsdl:input message="tns:GetSSTChartsSoapIn" />
      <wsdl:output message="tns:GetSSTChartsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMoonPhase">
      <wsdl:input message="tns:GetMoonPhaseSoapIn" />
      <wsdl:output message="tns:GetMoonPhaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGamePrediction">
      <wsdl:input message="tns:GetGamePredictionSoapIn" />
      <wsdl:output message="tns:GetGamePredictionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WeatherSoap" type="tns:WeatherSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWeather">
      <soap:operation soapAction="http://tempuri.org/GetWeather" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentWeatherConditions">
      <soap:operation soapAction="http://tempuri.org/GetCurrentWeatherConditions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentWeatherConditionsImageTemp">
      <soap:operation soapAction="http://tempuri.org/GetCurrentWeatherConditionsImageTemp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTides">
      <soap:operation soapAction="http://tempuri.org/GetTides" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMarineWeather">
      <soap:operation soapAction="http://tempuri.org/GetMarineWeather" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLures">
      <soap:operation soapAction="http://tempuri.org/GetLures" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSST">
      <soap:operation soapAction="http://tempuri.org/GetSST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSSTCharts">
      <soap:operation soapAction="http://tempuri.org/GetSSTCharts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoonPhase">
      <soap:operation soapAction="http://tempuri.org/GetMoonPhase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGamePrediction">
      <soap:operation soapAction="http://tempuri.org/GetGamePrediction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WeatherSoap12" type="tns:WeatherSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWeather">
      <soap12:operation soapAction="http://tempuri.org/GetWeather" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentWeatherConditions">
      <soap12:operation soapAction="http://tempuri.org/GetCurrentWeatherConditions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentWeatherConditionsImageTemp">
      <soap12:operation soapAction="http://tempuri.org/GetCurrentWeatherConditionsImageTemp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTides">
      <soap12:operation soapAction="http://tempuri.org/GetTides" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMarineWeather">
      <soap12:operation soapAction="http://tempuri.org/GetMarineWeather" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLures">
      <soap12:operation soapAction="http://tempuri.org/GetLures" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSST">
      <soap12:operation soapAction="http://tempuri.org/GetSST" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSSTCharts">
      <soap12:operation soapAction="http://tempuri.org/GetSSTCharts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoonPhase">
      <soap12:operation soapAction="http://tempuri.org/GetMoonPhase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGamePrediction">
      <soap12:operation soapAction="http://tempuri.org/GetGamePrediction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Weather">
    <wsdl:port name="WeatherSoap" binding="tns:WeatherSoap">
      <soap:address location="https://fishingstatus.com/desktopmodules/vivowebservices/weather.asmx" />
    </wsdl:port>
    <wsdl:port name="WeatherSoap12" binding="tns:WeatherSoap12">
      <soap12:address location="https://fishingstatus.com/desktopmodules/vivowebservices/weather.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>